In [1]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%pylab inline

# import necessary modules 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [2]:
# dir paths 
data_dir = ("../data/")
csv = "yellow_tripdata_2015-06.csv"
fullcsv = data_dir + csv
os.path.normpath(fullcsv)
print(fullcsv)

../data/yellow_tripdata_2015-06.csv

# Read the CSV file: we will use pandas to do all the big data clean up and preparation
### How to select based on a date-time values

In [12]:
# Create a pandas dataframe from the location data set. 
# Load the location data set, indexed by the date field
# and, parse the dates so they're no longer strings but now rather Python datetime objects
# this lets us do date and time based operations on the data set
df = pd.read_csv(fullcsv) # our data frame

In [16]:
df.info() # a quick summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12324935 entries, 0 to 12324934
Data columns (total 19 columns):
VendorID                 int64
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID               int64
store_and_fwd_flag       object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type             int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.7+ GB

In [15]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [17]:
databegin = len(df)
print("We have " +str(databegin)+" trips in New York in June 2015")

We have 12324935 trips in New York in June 2015

In [18]:
df.count(axis=0, level=None, numeric_only=False)

VendorID                 12324935
tpep_pickup_datetime     12324935
tpep_dropoff_datetime    12324935
passenger_count          12324935
trip_distance            12324935
pickup_longitude         12324935
pickup_latitude          12324935
RateCodeID               12324935
store_and_fwd_flag       12324935
dropoff_longitude        12324935
dropoff_latitude         12324935
payment_type             12324935
fare_amount              12324935
extra                    12324935
mta_tax                  12324935
tip_amount               12324935
tolls_amount             12324935
improvement_surcharge    12324935
total_amount             12324935
dtype: int64

In [61]:
cols = [c.strip() for c in list(df.columns.values)]

In [65]:
list(df.columns.values)
cols

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'RateCodeID',
 'store_and_fwd_flag',
 'dropoff_longitude',
 'dropoff_latitude',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount']

In [25]:
pickup_dt = pd.to_datetime(df["tpep_pickup_datetime"])

In [58]:
Timedelta = pickup_dt.iloc[-1] - pickup_dt.iloc[0]

In [60]:
print("We have " +str(Timedelta)+" of data observation for trips in New York in June 2015")

We have 28 days 10:34:53 of data observation for trips in New York in June 2015

# Cleaning Data 
## We need to remove the noise: some bad data with 0 km trips, impossible gps coordinates...

In [ ]:
pickup_long = df["pickup_longitude"]
pickup_lat  = df["pickup_latitude"]

In [ ]:
pickup_long.head()

In [ ]:
pickup_lat.tail()

In [ ]:
dropoff_long = df["dropoff_longitude"]
dropoff_lat  = df["dropoff_latitude"]

In [ ]:
dropoff_long.head()

In [ ]:
df_nonull = df[df["trip_distance"] != 0]

In [ ]:
print(len(df))

In [ ]:
print(len(df_nonull))